*{
    text-align: center;
    padding :0%
    
}
 
@font-face {
    font-family: "myFont";
    src: url(myFont/springtown_market.zip.tff);
}
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color{
    
    0 {
        background-position:0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
   
}
 
body {
    font-family: "press start 2p";
    font-weight: 400;
    margin: 20px;
    padding-top: 10px;
}
button {
    height: 8px;
    width: 150px;
    margin: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: rgb(29, 26, 26);
    background-color: #759d7d;
    
}

button:hover {
    color: #2c19b9;
}

input {
  padding: 15 px;
}